.greeting {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.greeting img {
	/* width: 100%; */
	max-width: 600px;
	height: auto;
}

.arrow {
	width: 50%;
	margin-top: 40px;

	/* transform: translateX(0%); */
}

@media (width <= 1340px) {
	.arrow svg {
		width: 550px;
		/*transform: rotate(90deg);*/
	}

	/* .greeting { */
	/*	flex-direction: column; */
	/*	padding: 1rem; */
	/* } */
}

@media (width <= 1150px) {
	.arrow svg {
		width: 440px;
		/*transform: rotate(90deg);*/
	}
}

@media (width <= 1150px) {
	.arrow svg {
		width: 440px;
		margin-top: 100px;
		margin-bottom: 100px;
		transform: rotate(90deg) translateY(-30%);

	}
}