.greetform {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 100%;
	padding: 80px;
	background-image: url('./assets/background.jpg');
	background-position: center;
	border: 1px solid transparent;

	/* background-repeat: no-repeat; */ /* как на скрине */
	border-radius: 25px;
}

.lamp {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 500px;
}

/* Джойстик (или загружающая картинка) */

.joystick {
	position: absolute;
	bottom: 0;
	bottom: 10%;
	left: 0;
	z-index: 0;
	width: 300px;
}

.title {
	margin: 0;
	color: white;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;

}

.description {
	max-width: 770px;
	color: white;
	font-size: 30px;
	font-family: "Jost";
	text-align: center;
}

.pixel {
	font-family: 'EpilepsySans', 'Jost', 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
}